* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #bc9667;
  --second-color: #1b1b1b;
  scroll-behavior: smooth;
}
.container {
  margin: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(230, 227, 227);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
}
nav {
  position: relative;
}
nav input {
  appearance: none;
}
nav ul {
  list-style: none;
}
nav ul li a {
  display: block;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
nav ul li a:hover {
  color: var(--main-color);
}
.icons i {
  font-size: 20px;
  padding: 0 5px;
  color: white;
  cursor: pointer;
}
.icons i:hover {
  color: var(--main-color);
}
@media (min-width: 992px) {
  nav label,
  nav input {
    display: none;
  }
  nav ul {
    display: flex;
  }
}
@media (max-width: 991px) {
  nav input:checked + ul {
    display: block;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.094);
  }
  nav ul li a {
    padding: 10px 15px;
  }
}
.hero {
  background-image: url(../images/hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  height: 100vh;
}
.text-hero {
  width: 50%;
}
.text-hero h1 {
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.6;
  color: var(--main-color);
}
.text-hero p {
  line-height: 1.8;
  color: white;
}
.text-hero a {
  display: block;
  width: 150px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  color: white;
  background-color: var(--main-color);
}
.text-hero a:hover {
  background-color: #6c543b;
  border-color: #6c543b;
}
.image {
  width: 50%;
}
@media (max-width: 991px) {
  .text-hero h1 {
    font-size: 35px;
    font-weight: 700;
  }
  .text-hero {
    width: 100%;
    text-align: center;
  }
  .text-hero a {
    margin: 20px auto auto auto;
  }
  .image {
    display: none;
  }
}
.about-us {
  padding: 75px 0;
}
.about-us .container {
  display: flex;
  gap: 35px;
}
.about-us .image {
  width: 50%;
  border-radius: 8px;
}
.text-about-us {
  width: 50%;
}
@media (max-width: 991px) {
  .text-about-us {
    width: 100%;
    text-align: center;
  }
  .text-about-us a {
    margin: auto;
  }
}
h2 {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 35px;
  color: var(--second-color);
}
.text-about-us p {
  line-height: 1.4;
  padding: 10px 0;
  color: var(--second-color);
}
.text-about-us a {
  display: block;
  width: 150px;
  padding: 10px;
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: white;
  background-color: var(--main-color);
}
.text-about-us a:hover {
  background-color: #6c543b;
  border-color: #6c543b;
}
.products {
  padding: 75px 0;
}
.products .products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.products-list .product {
  flex-basis: 350px;
  flex-grow: 1;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
}
.product .product-image {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.083);
}
.products img {
  width: 220px;
  height: 220px;
}
.product-info {
  padding: 15px;
}
.products .container h3 {
  text-transform: uppercase;
}
.products .container .price {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}
.products .container .price span {
  display: block;
  width: 80px;
  margin: auto;
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: white;
  background-color: var(--main-color);
}
.products .container .price a {
  display: block;
  width: 150px;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  text-transform: uppercase;
  color: #1b1b1b;
}
.products .container .price a:hover {
  background-color: var(--main-color);
  color: white;
}
.our-customers {
  padding: 75px 0;
}
.our-customers .customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
.customers-list .customer {
  flex-basis: 350px;
  flex-grow: 1;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
}
.icons-star {
  margin-bottom: 25px;
  color: gold;
}
.customer p {
  margin-bottom: 20px;
  line-height: 25px;
}
.customer h3 {
  margin-bottom: 20px;
}
.customers-list .customer img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
}
footer h3 {
  padding-bottom: 10px;
}
.coffee-shop,
.support,
.view-guides,
.contact {
  flex-basis: 250px;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .coffee-shop,
  .support,
  .view-guides,
  .contact {
    text-align: center;
  }
}
footer .coffee-shop p {
  line-height: 1.6;
}
footer a {
  display: block;
  padding: 3px 0;
  color: #1b1b1b;
}
footer a:hover {
  color: #bc9667;
}
footer .coffee-shop i {
  display: inline-block;
  width: 50px;
  padding: 5px 0;
  margin-top: 8px;
  text-align: center;
  border-radius: 2px;
  font-size: 25px;
  background-color: #b6b2ad;
  cursor: pointer;
}
footer .container .coffee-shop i:hover {
  color: #bc9667;
}
footer .contact p {
  padding: 5px 0;
}
footer .contact i {
  display: inline-block;
  padding-right: 15px;
}
.under-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #d8c1a4;
  height: 60px;
}
